{% load staticfiles %}
<!-- begin rendered navbar item -->
<li id="li-topbar-{{ html_id }}"{% if active %} class="active"{% endif %}>
    <a title="{{ title }}" name="{{ name }}" alt="{{ alt }}"
        href="{{ reversed_url }}">
        {% if glyphicon %}<i class="glyphicon {{ glyphicon }}"></i>{% endif %}
        {% if fa_icon %}<i class="fa {{ fa_icon }} fa-fw"></i>{% endif %}
        {% if icon %}<img src='{% static icon %}' height="{{ icon_height }}" width="{{ icon_width }}"></img>{% endif %}
        &nbsp{{ title|default:''|title }}
    </a>
</li>
<!-- end rendered navbar item -->